/* Gooper Fonts */
@font-face {
    font-family: 'Gooper';
    src: url('./gooper/Gooper-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gooper';
    src: url('./gooper/Gooper-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('./gooper/Gooper-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('./gooper/Gooper-SemiBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('./gooper/Gooper-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('./gooper/Gooper-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  

  
  /* Satoshi Fonts */
  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Satoshi-Light.otf') format('opentype');
    font-weight: 100;
  }